:root{
    --background-light:#FFFACD;
    --section-light: #66CDAA;
    //--section_two-light: #9DE080;
    --on-features-light: #66CDAA;
    //--on-surface-variant-light: #42493f;
    --on-text-light:#000000;

    --background-dark: #483D8B;
    --section-dark: #32CD32;
    //--section_two-dark: #38552b;
    --on-features-dark: #530847;
    //--on-surface-variant-dark: #c2c8bc;
    --on-text-dark:#ffffff;

@media(prefers-color-scheme: light) {
    --background: var(--background-light);
    --section: var(--section-light);
    --on-features: var(--on-features-light);
    //--on-surface-variant: var(--on-surface-variant-light);
    --on-text: var(--on-text-light);
    
  }
  
  @media(prefers-color-scheme: dark) {
    --background: var(--background-dark);
    --section: var(--section-dark);
    ---on-features: var(--on-features-dark);
    //--on-surface-variant: var(--on-surface-variant-dark);
    --on-text: var(--on-text-dark);
 }
}

html, body{
    margin: 0px;
}

body{
    max-width: 1440px;
    margin: 0px auto;
    display: grid;

    grid-template-rows: 90vh repeat(3, min-content);


}

.hero-section{
    background-image:url(/images/Python-3.jpg);
    background-position: center;
    background-size: cover;
    padding-block: 32px;
    padding-inline: 54px;
    display: grid;
    place-items: center;

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 36px;
        padding-bottom: 200px;
        

        h1{
            margin-top: 0px;
        }
    
    }
    .button{
        background-color: rgb(153, 205, 50, 0.6);
        padding-block:8px;
        padding-inline:26px;
        font-size: 36px;
        height: 72px;
        border-radius: 36px;
        
        &:hover{
            background-color:rgb(153, 205, 50, 1)
        }
    }
    
}
.desc-section{
    .content{
        background-color:  var(--background);
        padding-top: 32px;
        padding-inline: 54px;
        margin-inline: auto;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
        gap: 30px;
        
        .one {
            background-color: var(--section);
            padding-left: 30px;
            display: grid;
            grid-template-columns:1fr 1fr;
            gap: 15px;
            border-radius: 20px;
          
            img{
                width: 100%;
                height: 100%;
                border-radius:20px;
            }
            
        }
        .two{
            background-color: var(--section);
            padding-left: 30px;
            display: grid;
            grid-template-columns:1fr 1fr;

            gap: 15px;
            border-radius: 20px;
            
            img{
                width: 100%;
                height: 100%;
                border-radius:20px;
            }
            
        }
        .three{
            background-color: var(--section);
            padding-left: 30px;
            display: grid;
            grid-template-columns:1fr 1fr;
            gap: 15px;
            border-radius: 20px;
            
            img{
                width: 100%;
                height: 100%;
                border-radius:20px;
            }
            
        }
        .text{
            position: relative;
            top: 10px;
            h3{
                font-size: 32px;
            }
            p{
                font-size: 24px;
            } 
        }
        
    }

}
.features-section{
    .content{
        background-color: var(--background);
        color: var(--on-text);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 32px;
        gap: 15px;
        place-items: center;
        
        padding-left: 54px;
        margin: auto;
        
        img{
            width: 100%;
            height: 80%;
            border-radius:20px;
            text-align:center
            
        }

        .feature_one {
            align-items: center;
            place-items: center;
            border-radius: 20px;
            background-color: var(--on-features);
            
        }

        .feature_two  {
            align-items: center;
            place-items: center;
            border-radius: 20px;
            background-color: var(--on-features);
            

        }
        .description{
            font-size: larger;
            font-family: Arial, Helvetica, sans-serif;
            padding-left: 20px;
        }


    }

}
.links-section{

    background-color: var(--background);
    
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 100px;
    
    margin: auto;
    place-items: center;
    text-align: center;
    font-size: 20px;
    //padding-inline: 54px;

    a{
        color: var(--on-text);
    }
   
   
}
.rights-section{
    background-color: black;
    color: wheat;
    text-align: center;
}

@media (max-width: 1200px){
    .body{
        max-width: 970px;
    }
}    
  
@media (max-width: 992px){
    .body{
        max-width: 750px;
    }
}    

@media (max-width: 767px){
    .body{
        max-width: 500;
    } 
}
@media (max-width: 499px){
    .body{
        max-width: none;
        .desc-section{
            .content{
            display: flex;
            flex-direction: column;
        }
    }
    } 

}